# Dependency directories
node_modules/
Report/

# Environment variables
.env

# System files (macOS/Windows junk files)
.DS_Store
Thumbs.db

# Debug logs
npm-debug.log*

# Word Documents
*.doc
*.docx
*.pdf

# Screenshots and Images
*.png
*.jpg
*.jpeg

#Force Git to add the specified files
!Screenshots/Home page.png
!Screenshots/Quick start guide.png
!Automail Read Me.docx